@import '../../styles/abstracts/variables.scss';

.content {
  max-width: 576px;
  margin: auto;
}

.body {
  margin: 30px 0;
}

.button {
  border: none;
  outline: none;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  &.nextButton {
    background-color: $color-primary;
    color: white;
  }
  &.backButton {
    background-color: #eee;
  }
}

.highlightText {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0;
  font-weight: normal;
  & p {
    margin-top: 5px;
    font-size: 16px;
    text-transform: none;
  }
}

.link {
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.videoTutorial {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  & .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #eee;
    padding: 20px;
    border: 3px solid #eee;
    border-radius: 50%;
    z-index: 2;
    opacity: 0;
    transition: 0.3s all;
  }

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.3s all;
  }

  &:hover .overlay {
    opacity: 1;
  }
  &:hover .icon {
    opacity: 1;
  }
}

.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
}

.stepCol {
  order: 2;
  @media (min-width: 768px) {
    order: 1;
  }
}

.tutorialCol {
  order: 1;
  @media (min-width: 768px) {
    order: 2;
  }
}
