.inputBox {
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.inputName {
  background: #75daad;
  padding: 15px 20px;
  margin: 0;
  text-transform: capitalize
}
.input {
  padding: 15px 20px;
  border: none;
  outline: none;
}
