.formSlides {
  min-width: 400px;
}

.editCardComponent {
  position: relative;
}

.slideFormItem {
  width: 100%;
}

.listCard {
  max-width: 500px;
  width: 100%;
}

.slideFormName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  padding: 10px;
  & i {
    margin-right: 10px;
  }
  & .slideName {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .slideDesc {
    flex: 1 1 100%;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 9px 0;
    margin-right: 8px;
  }
}

.active {
  border: 3px solid red;
}
