@import '../../../styles//abstracts/variables.scss';
.selectList {
  min-width: 250px;
  width: 50%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.colorName {
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    right: 10px;
  }
  &.gradient-pink-orange:before {
    background: $color-gradient-pink-orange;
  }
  &.gradient-orange-pink:before {
    background: $color-gradient-orange-pink;
  }
  &.gradient-purple-blue:before {
    background: $color-gradient-purple-blue;
  }
  &.white:before {
    background: $color-white-3;
  }
  &.primary:before {
    background: $color-primary;
  }
  &.secondary:before {
    background: $color-secondary;
  }
}
