.buttonFunc {
  margin: 0px 3px;
}
.dragBtn {
  padding: 20px;
  border-radius: 50%;
  height: 0;
  width: 0;
  background: white;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
