.checkBox {
  margin: 10px 0;
}

.checkBoxName {
  text-transform: capitalize;
}

.box {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid;
  margin-left: 6px;
}


i[class="fas fa-check"] {
  color: #26a69a;
}
@keyframes :local(show) {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.reverse {

}

.horizontal {

}
