.button {
  width: 100px;
  height: 30px;
  background: lightblue;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  vertical-align: middle;
  z-index: 9999;
  cursor: pointer;
}
