.editCardComponent {
  position: relative;
}

.inner {
  display: flex;
}
.listCard {
  flex: 1 1 auto;
  margin-right: 20px;
}
.form {
  flex: 1 1 auto;
}
.cardFormName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  padding: 10px;
  & i {
    margin-right: 10px;
  }
  & .cardName {
    font-weight: bold;
  }
  & .cardDesc {
    display: flex;
    align-items: center;
  }
}

.deleteBtn {
  min-width: 100px
}
