@import '../../styles/abstracts/variables.scss';
.settingsPage {
  display: flex;
}
.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: none;
}
.mainContent {
  width: 80%;
  margin-left: 20%;
  min-height: 100vh;
}
.toolKit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  text-align: center;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  min-width: 190px;
  padding: 10px 30px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: $color-white;
  text-decoration: none!important;
  color: $color-black-4;
  background-color: $color-primary;
}

.sideBar {
  background: lightgrey;
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 123;
}

.section {
  position: relative;
  &:hover .sectionBottom {
    display: block;
  }
}
.sectionTop {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.sectionBody {
  position: relative;
}

.sectionBottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 200;
  display: none;
}

.addComponentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(54, 63, 90);
  color: white;
  width: 52px!important;
  height: 52px!important;
  border-radius: 5px;
}

.focusing {
  border: 10px solid;
}
.dragging {
  transform: scale(0.5);
  opacity: 0.5;
  overflow: hidden;
}

.settingBox {
  overflow-y: auto;
  max-height: 630px;
  padding: 5px;
}
