// Color
$color-primary: #3ece7e;
$color-secondary: rgb(240, 98, 146);


$color-white: #fff;
$color-white-1: rgba(255, 255, 255, 0.7);
$color-white-2: rgba(255, 255, 255, 0.8);
$color-white-3: rgba(255, 255, 255, 0.85);

$color-black: #252c41;
$color-black-2: rgba(0,0,0,.7);
$color-black-3: rgba(0,0,0,.8);
$color-black-4: rgba(0,0,0,.9);
$color-pink : #f06292;
$color-shadow: rgba(247, 116, 105, 0.5);
$color-green: #3ece7e;
$color-dark-blue: rgb(0, 27, 68);
$color-gradient-pink-orange: linear-gradient(90deg, rgb(240, 98, 146) 0%, rgb(249, 120, 95) 100%);
$color-gradient-orange-pink: linear-gradient(90deg, rgb(249, 120, 95) 0%,rgb(240, 98, 146)  100%);

// Font size
$title-lg: 42px;
$title-md:18px;

$font-size-15: 15px;
$font-size-default: 14px;


// Font weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
