.rate {
  display: flex;
}

.rateIcon {
  flex: none;
  margin-top: 7px;
  margin-right: 20px;
  width: 65px;
  height: 65px;
}

.rateContent {

}

.contentHeader {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.stars {
  color: orange;
  margin-right: 10px;
  font-size: 12px;
  flex-shrink: 0;
}

.contentTitle {
  font-size: 18px;
  color: rgba(0,0,0,.6);
  & span {
    color: rgba(0,0,0,.9);
    margin-right: 5px;
  }
}

.contentBody {
  & .paragraph {
    margin-bottom: 15px;
  }
  & .author {
    & span {
      color: rgba(0,0,0,.9);
      text-transform: capitalize;
    }
  }
}
