@import '../../styles/abstracts/variables.scss';
.sectionTitle {
  font-size: 18px;
  color: $color-black;
  font-weight: $font-light;
  margin-bottom: 20px;
  font-size: 28px;
  @media (min-width: 320px) {
    font-size: 20px;
  }
  @media (min-width: 500px) {
    font-size: 24px;
  }
  @media (min-width: 768px) {
    font-size: 30px;
  }
  @media (min-width: 992px) {
    font-size: $title-lg;
  }
  &.white {
    color: $color-white;
  }
  &.black-3 {
    color: $color-black-3;
  }
  &.xs {
    font-size: 16px;
  }
  &.sm {
    font-size: 20px;
  }
  &.md {
    font-size: 24px;
  }
  &.lg {
    font-size: 28px;
    @media (min-width: 768px) {
      font-size: 30px;
    }
    @media (min-width: 992px) {
      font-size: $title-lg;
    }
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: center;
    @media (min-width: 768px) {
      text-align: right;
    }
  }
  &.left {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

.sectionTitle.dark {
  &.black-3 {
    color: rgb(244, 244, 244);
  }
}
.isBuilder {
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }
  &:hover:before {
    border: 2px solid;
  }
}

.empty {
  padding: 5px 20px;
  border: 2px solid wheat;
}
