.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0;
  @media (min-width: 992px) {
    padding-left: 80px;
  }
}

.icon {
  text-align: center;
  @media (min-width: 992px) {
    text-align: initial;
  }
}

.isBuilder {
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }
  &:hover:before {
    border: 2px solid;
  }
}
