.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.inputName {
  color: #363f5a;
  display: inline-block;
  text-transform: capitalize;
}

.input {
  border: none;
  padding: 14px;
  font-size: 1rem;
  background-color: #EEF5FF;
  width: calc(100% - 2rem);
  color: #363f5a;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  & input {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    background: inherit;
  }
}

.errorMsg {
  font-size: inherit;
  color: red;
}
