@import '../../../../styles/abstracts/variables.scss';
.sideBarNav {
  display: flex;
  border-bottom: 2px solid #333;
}

.btn {
  text-align: center;
  cursor: pointer;
  flex: 1 1 auto;
  padding: 15px 0;
}

.active {
  color: $color-secondary2;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: $color-secondary2;
    left: 0;
    bottom: -2px;
  }
}
