@import '../../styles/abstracts/variables.scss';
.ListPage {
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background: #f1f1f1;
  height: 100vh;
}

.title {
  margin-bottom: 15px;
}

.page {
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.addPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  background-color: $color-primary;
  color: $color-white;
  transition: 0.3s all;
  &:hover {
    opacity: 0.8;
  }
}

.homeIcon {
  font-size: inherit;
  margin-right: 8px;
}

.warningText {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: $color-danger;
}
