@import '../../styles/abstracts/variables.scss';
.ListPage {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background: #f1f1f1;
  height: 100vh;
}
.page {
  padding: 30px;
  border-radius: 10px;
  background: #f1f1f1;
  text-align: center;
  font-size: 24px;
  color: #333;
  transition: 0.3s all;
  &:hover {
    background-color: #fff;
    color: #222;
  }
  &.actived {
    background-color: #fff;
    color: #222;
  }
}

.addPage {
  padding: 30px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  background-color: $color-primary;
  color: $color-white;
  transition: 0.3s all;
  &:hover {
    opacity: 0.8;
  }
}

.homeIcon {
  font-size: inherit;
  margin-right: 8px;
}
