.ListPage {
  display: flex;
  flex-wrap: wrap;
  background: #f1f1f1;
  height: 100vh;
}
.page {
  padding: 30px;
  margin: 10px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  transition: 0.3s all;
  &:hover {
    background-color: black;
    color: #fff;
  }
}

.addPage {
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed black;
    transition: 0.3s all;
  }
  &:hover:before {
    transform: scale(0.8);
    border-color: red;
  }
}
