.menuGroup {
  padding: 0px 10px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: none;
}

.menuName {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.75rem 0;
  font-weight: bold;
  color: #3f6ad8;
  white-space: nowrap;
  position: relative;
}

.nav {
  padding: 10px;
}

.sidebarItem {
  width: 100%;
  margin: 10px 0;
}
