.sideBar {
  background: lightgrey;
  height: 100vh;
  width: 20%;
}

.nav {
  padding: 10px;
}

.link {
  padding: 10px 20px;
  list-style-type: none;
  transition: 0.3s all;
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
}
