.colorPicker {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.fieldName {
  text-transform: capitalize;
  margin-right: 10px;
}

.picked {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.colorBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 123;
  transform: translate(90%, 48%);
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid blue;
    top: 8%;
    left: -7%;
  }
}
