.colorPicker {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.label {
  text-transform: capitalize;
  margin-right: 10px;
}
.colorField {
  position: relative;
}

.openButton {
  width: 50px;
  height: 25px;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  display: inline-block;
  cursor: pointer;
}

.colorPreview {
  width: 100%;
  height: 100%;
}

.colorBox {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 123;
  transform:  translate(calc(36px + 20px), -7.5px);
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid blue;
    left: -7%;
  }
}
