@import '../../../styles/abstracts/variables.scss';
.section {
  position: relative;
  z-index: 9;
  padding: 110px 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: white;
}

.gradient-pink-orange {
  background-image: $color-gradient-pink-orange;
  background-image: -webkit-gradient(linear,left top,right top,from(#f06292),to(#f9785f));
}

.gradient-orange-pink {
  background-image: $color-gradient-orange-pink;
  background-image: -webkit-gradient(linear,left top,right top,from(#f9785f),to(#f06292)) ini;
}

.gradient-purple-blue {
  background-image: $color-gradient-purple-blue;
}

.white-1 {
  background-color: $color-white-1;
}
.white-2 {
  background-color: $color-white-2;
}
.white-3 {
  background-color: $color-white-3;
}

.primary {
  background-color: $color-primary;
}
.secondary {
  background-color: $color-secondary;
}

.square {
  position: absolute;
  top: 0;
  width: 50%;
  background-color: $color-pink;
  opacity: 0.5;
  animation: scale 8s infinite ease-out;
  border-radius: 40px;
  transform: rotate(45deg);
  &:before {
    content: '';
    padding-top: 100%;
    display: block;
  }
  &.left {
    left: 9%;
  }
  &.right {
    right: 9%;
  }
}

:local {
  @keyframes scale{
    0%{-webkit-transform:scale(1) translateY(-35%) rotate(45deg);transform:scale(1) translateY(-35%) rotate(45deg); opacity: 0.1;}
    50%{-webkit-transform:scale(.6) translateY(-35%) rotate(45deg);transform:scale(.6) translateY(-35%) rotate(45deg); opacity: 0.5;}
    to{-webkit-transform:scale(1) translateY(-35%) rotate(45deg);transform:scale(1) translateY(-35%) rotate(45deg); opacity: 0.1;}
  }
}
