@import '../../../styles//abstracts/variables.scss';
.selectList {
  min-width: 250px;
  width: 100%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorName {
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
}
.colorPreview {
  width: 50px;
  height: 20px;
}
