@import '../../../../../styles/abstracts/variables.scss';
.page {
  transition: 0.3s all;
  margin: 6px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 20px;
  border-radius: 10px;
  & a {
    flex: 1 1 auto;
    padding: 10px;
  }
}

.active {
  color: $color-secondary2;
}

.extendBtn {
  border: none;
}

.homeIcon {
  font-size: inherit;
}


.addBtn {
  text-align: center;
  padding: 18px;
  background-color: $color-secondary2;
  color: white;
  & span {
    display: block;
    width: 100%;
  }
}

.btn {
  margin: 0 2.5px;
}
